<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx
                   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
                   
    <context:property-placeholder location="classpath:placeholder.properties"/>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}"/>
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="org.apm.carteiraprofissional" />		
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.hbm2ddl.auto">${hibernate.hbm2ddl.auto}</prop>
				<prop key="hibernate.show_sql">${hibernate.show_sql}</prop>
				<prop key="hibernate.format_sql">${hibernate.format_sql}</prop>
				<prop key="hibernate.use_sql_comments">${hibernate.use_sql_comments}</prop>
				<prop key="hibernate.zeroDateTimeBehavior">${hibernate.zeroDateTimeBehavior}</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
	<context:component-scan base-package="org.apm.carteiraprofissional" />

	<!--  <tx:annotation-driven transaction-manager="transactionManager" />-->
	
	<tx:annotation-driven/>
	
	<!--  <tx:annotation-driven proxy-target-class="true" />-->

	<!-- This will ensure that hibernate or jpa exceptions are automatically translated into Spring's generic DataAccessException hierarchy for those 
		 classes annotated with Repository -->

	<!-- DAOS -->
	<bean id="grupoUtilizadorDAO" class="org.apm.carteiraprofissional.dao.impl.GrupoUtilizadorDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="paisDAO" class="org.apm.carteiraprofissional.dao.impl.PaisDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<bean id="provinciaDAO" class="org.apm.carteiraprofissional.dao.impl.ProvinciaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="utilizadorDAO" class="org.apm.carteiraprofissional.dao.impl.UtilizadorDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="requisitanteDAO"
		class="org.apm.carteiraprofissional.dao.impl.RequisitanteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="escolaridadeDAO" class="org.apm.carteiraprofissional.dao.impl.EscolaridadeDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="tipoDocumentoDAO" class="org.apm.carteiraprofissional.dao.impl.TipoDocumentoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="categoriaDAO" class="org.apm.carteiraprofissional.dao.impl.CategoriaDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="requisicaoDAO" class="org.apm.carteiraprofissional.dao.impl.RequisicaoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="numeroRequisicaoDAO" class="org.apm.carteiraprofissional.dao.impl.NumeroRequisicaoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="formaPagamentoDAO" class="org.apm.carteiraprofissional.dao.impl.FormaPagamentoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="carteiraDAO" class="org.apm.carteiraprofissional.dao.impl.CarteiraDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="histCarteiraDAO" class="org.apm.carteiraprofissional.dao.impl.HistCarteiraDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="histRequisicaoDAO" class="org.apm.carteiraprofissional.dao.impl.HistRequisicaoDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="histRequisitanteDAO" class="org.apm.carteiraprofissional.dao.impl.HistRequisitanteDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="propriedadesGlobaisDAO" class="org.apm.carteiraprofissional.dao.impl.PropriedadesGlobaisDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	

	<!-- SERVICOS -->
	<bean id="grupoUtilizadorService" class="org.apm.carteiraprofissional.service.impl.GrupoUtilizadorServiceImpl"/>

	<bean id="paisService" class="org.apm.carteiraprofissional.service.impl.PaisServiceImpl">
		<property name="paisDAO" ref="paisDAO" />
	</bean>
	
	<bean id="provinciaService" class="org.apm.carteiraprofissional.service.impl.ProvinciaServiceImpl">
		<property name="provinciaDAO" ref="provinciaDAO" />
	</bean>
	
	<bean id="utilizadorService" class="org.apm.carteiraprofissional.service.impl.UtilizadorServiceImpl">
		<property name="utilizadorDAO" ref="utilizadorDAO" />
	</bean>
	
	<bean id="requisitanteService" class="org.apm.carteiraprofissional.service.impl.RequisitanteServiceImpl">
		<property name="requisitanteDAO" ref="requisitanteDAO" />
	</bean>
	
	<bean class="org.springframework.dao.annotation.PersistenceExceptionTranslationPostProcessor" />

	<bean id="escolaridadeService" class="org.apm.carteiraprofissional.service.impl.EscolaridadeServiceImpl">
		<property name="escolaridadeDAO" ref="escolaridadeDAO"/>
	</bean>
	
	<bean id="tipoDocumentoService" class="org.apm.carteiraprofissional.service.impl.TipoDocumentoServiceImpl">
		<property name="tipoDocumentoDAO" ref="tipoDocumentoDAO"/>
	</bean>
	
	<bean id="categoriaService" class="org.apm.carteiraprofissional.service.impl.CategoriaServiceImpl">
		<property name="categoriaDAO" ref="categoriaDAO"/>
	</bean>
	
	<bean id="requisicaoService" class="org.apm.carteiraprofissional.service.impl.RequisicaoServiceImpl">
		<property name="requisicaoDAO" ref="requisicaoDAO"/>
	</bean>
	
	<bean id="numeroRequisicaoService" class="org.apm.carteiraprofissional.service.impl.NumeroRequisicaoServiceImpl">
		<property name="numeroRequisicaoDAO" ref="numeroRequisicaoDAO"/>
	</bean>
	
	<bean id="formaPagamentoService" class="org.apm.carteiraprofissional.service.impl.FormaPagamentoServiceImpl">
		<property name="formaPagamentoDAO" ref="formaPagamentoDAO"/>
	</bean>
	
	<bean id="carteiraService" class="org.apm.carteiraprofissional.service.impl.CarteiraServiceImpl">
		<property name="carteiraDAO" ref="carteiraDAO"/>
	</bean>
	
	<bean id="histCarteiraService" class="org.apm.carteiraprofissional.service.impl.HistCarteiraServiceImpl">
		<property name="histCarteiraDAO" ref="histCarteiraDAO"/>
	</bean>
	
	<bean id="histRequisicaoService" class="org.apm.carteiraprofissional.service.impl.HistRequisicaoServiceImpl">
		<property name="histRequisicaoDAO" ref="histRequisicaoDAO"/>
	</bean>
	
	<bean id="histRequisitanteService" class="org.apm.carteiraprofissional.service.impl.HistRequisitanteServiceImpl">
		<property name="histRequisitanteDAO" ref="histRequisitanteDAO"/>
	</bean>
	
	<bean id="propriedadesGlobaisService" class="org.apm.carteiraprofissional.service.impl.PropriedadesGlobaisServiceImpl">
		<property name="propriedadesGlobaisDAO" ref="propriedadesGlobaisDAO"/>
	</bean>
</beans>