<?xml version="1.0" encoding="UTF-8"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
  version="2.0">
 
   <persistence-unit name="APMCarteiraProfissional"  >
       <provider>org.hibernate.ejb.HibernatePersistence</provider>
       <jta-data-source>java:/DefaultDS</jta-data-source>
     <properties>
          <property name="hibernate.dialect" value="org.hibernate.dialect.MySQLDialect"/>
           <property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver" />
           <property name="hibernate.connection.username" value="root" />
            <property name="hibernate.connection.password" value="DM2007Misau1" />
            <property name="hibernate.show_sql" value="true" />
           <property name="hibernate.format_sql" value="true" />
         <property name="hibernate.use_sql_comments" value="true" />
           <property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/apmcarteira" />
      </properties>
 </persistence-unit>
</persistence>